/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/* HEADER */
.header{
    color: #F9FAF8;
    background-color: #1F3237;
}
.headertop{
    display : flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding : 10px;
}
.headerlogo{
    color: #F9FAF8;
    font-size: 24px;
}
menu{
    display : flex;
    list-style-type: none;
    gap : 20px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    max-width : 440px;
}
.subtitle{
    font-size:24px;
    color:#E5E7EB;
    max-width : 440px;
}
.headerbody{
    display: flex;
    padding:100px;
    justify-content: space-around;
}

img{
    max-height: 200px;
    margin-left: 40px;
}

button{
    background-color: #3882F6;
    color:white;
    padding :5px 20px;
    border: none;
    border-radius: 10px; 
}

/* BODY */
.h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px;
}

.othersection{
    margin :50px;
    text-align: center;
}
.boxes{
    color: #1F2937;
    font-size: 18px;
    display : flex;
    justify-content: center;
    margin : 20px 50px 200px 200px; 
    gap: 50px;
}
.squbble{
    width : 150px ;
    height : 150px;
    border : 5px solid #3882F6 ;
    border-radius : 10px;
}

blockquote{
    background-color: #E5E7EB;
    padding: 200px;
    display: flex;
    flex-direction: column;


}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.author{
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
}


/* FOOTER */